@model isvb.dev.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(x=>x.FileType==(int)isvb.dev.ViewModels.Enums.FileType.Cover))
        {
            <dt>
                @Html.DisplayNameFor(model=>model.Files)
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First().FileId" alt="image" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
