@model IEnumerable<isvb.dev.ViewModels.CatalogViewModel>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>


<div class="alert alert-info" style="display:none" role="alert"></div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-ld-3 col-md-3">

                Name: @Html.DisplayFor(modelItem => item.Name)
                <br />
                Lat Name: @Html.DisplayFor(modelItem => item.LatName)
                <br />
               @if (item.File == null)
               {
                   <img src="" alt="" height="150" width="150" />
               }
               else
               {<img src="~/File?id=@item.File.FileId" height="150" width="150" alt="image" />
               }

            </div>
            <div class="col-ld-6 col-md-6">
                <p>Lorem ipsum dolorem sunt description description description kad ces da odes u drugi red mnogo si dugacak</p>
            </div>
            <div class="col-ld-3 col-md-3">

                Price:
                @Html.DisplayFor(modelItem => item.Price) $

                <br />
                <div>
                    <div class="col-lg-4">

                        Quantity:
                        <br />
                        <input name="qty" type="number" id="qty-@item.ProductId" class="form-control" min="1">
                    </div>
                    <br />
                </div>

                <br />
                <br />
                <br />
                <br />
                <br />
                              
                <button class="btn btn-secondary" name="submit" type="button" id="@item.ProductId">Add to Cart</button>
                    <br />

                @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                }

            </div>

        </div>
        <hr class="featurette-divider">
    }

</div>

@Scripts.Render("~/bundles/cartJs")

