@model IEnumerable<isvb.dev.CartItem>

@{
    ViewBag.Title = "Index";
}

<h2>My cart</h2>

<table class="table">
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(x=>x.Product.Name)</th>
        <th>@Html.DisplayNameFor(x => x.Quantity)</th>
        <th>@Html.DisplayNameFor(x => x.Product.Price)</th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td></td>
        <td>@Html.DisplayFor(modelItem=>item.Product.Name)</td>
        <td>@Html.EditorFor(modelitem=>item.Quantity, new { htmlAttributes = new { @class = "form-control", id="qty-"+item.Product.ProductId } })</td>
        <td>@Html.DisplayFor(modelItem=>item.Product.Price)</td>
        <td><button class="btn btn-default update" name="submit" type="button" id="@item.Product.ProductId">Update</button><button class="btn btn-default delete" name="submit" type="button" id="@item.Product.ProductId">Remove</button></td>
    </tr>
}
    
</table>
@Scripts.Render("~/bundles/mycart.js")
