
@{
    ViewBag.Title = "Dashboard";
}
    

<h2>Site Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("User management", "Users", "Dashboard") <br />
        @Html.ActionLink("Products management", "Index", "Catalogue") <br />
        @Html.ActionLink("Role management", "Roles", "Dashboard")<br />
        @Html.ActionLink("Post management","Index","Posts")
    </div>
    <div class="col-md-8 text-center" >
        <h5>Total visitors:</h5><h5 id="visitors"></h5>
    </div>
</div>

@Scripts.Render("~/bundles/dashboard.js")
<script>getVisitorsCount();</script>
