@model IEnumerable<isvb.dev.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Roles";
    var roles = ViewBag.Roles;
    SelectList list = new SelectList(roles);
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Role.Name)
        </td>
        <td>
            @Html.ActionLink("Edit","EditRole",new {id=item.User.Id })
        </td>
    </tr>
}
  
</table>

